
#body {
    background-image: url("Captura de tela 2021-12-26 214527.png");
    background-size: cover;
    position: absolute;
    z-index: -1;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#play-button {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 40px;
    width: 150px;
    height: 150px;
    background-image: url("iniciar.png");
    background-size: cover;
    /*animation: mymove 5s infinite;*/
    cursor: pointer;
    border-radius: 100%;
}

/* The animation code */
@keyframes mymove {
    0%   {transform: rotate(10deg);}
    20%  {transform: rotate(-20deg);}
    40%  {transform: rotate(20deg);}
    80%  {transform: rotate(-20deg);}
    100% {transform: rotate(10deg);}
}
